<!-- Set selectable to true for this page, as the proof is selective-->
{% set selectable = true %}
<!---->
{% if loaded and loaded.entries|length > 0 %}
<div class="" id="{{app.id}}">
  <h2 class="text-xl font-bold">Proof Builder</h2>
  <p class="text-black">Extend, select, and prove!</p>
  <div class="flex flex-col w-full items-center">
    <div class="rounded shadow p-2 bg-blue-50">
      <!-- Main loop -->
      {% for entry in loaded.entries %}
      <!-- Set vars -->
      {% with item = loaded, context = loaded.context, entryloop = loop.index0
      %}
      <!-- sub loop -->
      {% for attr in entry %}
      <!-- Main content include-->
      {% include "kov.html" %}
      <!---->
      {% endfor %}
      <!---->
      {% endwith %}
      <!---->
      {% endfor %}
    </div>
    <!-- the context must match the context variant in the WIT world, this is how it gets routed to the renderer -->
    <div class="text-xl mt-4">Extend:</div>
    <!-- Now we show the Last loaded Entry if the index is larger that credential.entries -->
    <!---->
    {% if loaded.entries|length >= credential.entries|length %}
    <button
      id="{{ app.id|on('click') }}"
      class="border-4 hover:bg-green-500 hover:text-white hover:border-neutral-50 font-bold py-2 px-4 rounded text-xl"
      type="button"
      data-context-name="newentry"
    >
      + Extend
    </button>
    {% else %}
    <div class="rounded p-2 bg-green-100">
      <!--Loop through all entry with index greater than entries -->
      {% for entry in credential.entries[loaded.entries|length:] %}
      <!---->
      {% with item = credential, context = credential.context, entryloop =
      loop.index0 + credential.entries|length - 1 %}
      <!---->
      {% for attr in credential.entries[loaded.entries|length] %}
      <!---->
      {% include "kov.html" %}
      <!---->
      {% endfor %}
      <!---->
      {% endwith %}
      <!--End for-->
      {% endfor %}
      <!-- else, show Add Attribute button-->
      <button
        id="{{ app.id|on('click') }}"
        class="border-4 border-dashed w-full hover:bg-blue-500 hover:text-white hover:border-neutral-50 font-bold py-2 px-4 rounded text-xl"
        type="button"
        data-context-name="addattribute"
      >
        +
      </button>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
