<div id="app" class="p-2 max-w-lg mx-auto">
  <h1 class="text-red-600 text-2xl font-bold">{{app.name}}</h1>
  <!-- Create a Credential -->
  {% if state.loaded.hints is undefined and state.loaded.preimages is undefined
  %}
  <div>
    <div>{% include "create.html" %}</div>
    <div>{% include "maxentries.html" %}</div>
  </div>
  {% elif state.loaded.hints is defined %}
  <!-- Use a loaded credential to extend, select and prove -->
  <div>
    <div>{% include "accept.html" %}</div>
  </div>
  <!-- Verify a Credential -->
  {% elif state.loaded.preimages is defined %}
  <div>
    <div>{% include "verify.html" %}</div>
  </div>
  <!-- TODO  -->
  {% endif %}
  <div>{% include "output.html" %}</div>
</div>
