<!-- a range slider from 0 to 12 to show how many entries Delegatees can add to this -->
<div class="m-2 p-2" id="{{app.id}}">
  <label class="block text-sm font-medium text-gray-700">
    Limit the number of times this credential can be extended by delegatees.
  </label>
  <div class="flex mt-1">
    <input
      type="range"
      min="1"
      max="3"
      step="1"
      class="w-full"
      value="{{state.credential.max_entries}}"
      id="{{app.id|on('change')}}"
      data-context-name="editmaxentries"
    />
  </div>
</div>
