<div id="{{output.id}}" class="m-4">
  <ul class="border border-green-500 rounded m-2 w-full">
    {% for entry in credential.entries %} {% for attr in entry %}
    <div class="flex flex-row w-full items-center">
      <div class="flex-1 p-2">{{attr.key}}</div>
      <div class="p-1 bg-blue-500 text-white font-semibold">{{attr.op}}</div>
      <div class="flex-1 p-2">{{attr.value}}</div>
    </div>
    {% endfor %} {% endfor %}
  </ul>
  <!-- Show max entries -->
  <div
    class="flex flex-row m-2 w-full items-center border border-green-500 rounded"
  >
    <div class="flex-1 p-2">Max Additional Entries</div>
    <div class="flex-1 p-2">{{credential.max_entries}}</div>
  </div>
  <!-- Show Offer Link -->
  <div
    class="flex flex-row m-2 w-full items-center border border-green-500 rounded"
  >
    Offer:
    <div class="flex-1 p-2 break-all">
      <a
        href="/#{{credential.offer}}"
        target="_blank"
        class="underline text-blue-500"
        >{{credential.offer}}</a
      >
    </div>
  </div>
</div>
